@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Endereço de testes<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:teste@teste.com.br"> teste@teste.</a><br />
    <strong>Marketing:</strong> <a href="mailto:mail@gmail.com"> mailto:mail@gmail.com</a>
</address>
